doctype html
html(lang="en")
  head
    title= DraftHacker
    link(href="/assets/app.css" type="text/css" rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet")

  body
    #app(data-state={state})
    script(src="/app.js" type='text/javascript' )